{% extends 'devgigs/layout.html' %}

{% block body %}
<div class="mx-auto d-flex mb-0 flex-column justify-content-center">
    <div class="border py-3 px-5 rounded  mx-auto mt-2">
        <header class="text-center">
            <h2 class="text-lg font-bold text-uppercase mb-1">
                Log In
            </h2>
            <p class="mb-3">Log in to post gigs</p>
        </header>
        {% if message %}
        <p class="text-danger text-sm mt-1">
            {{message}}
        </p>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="username" class="inline-block mb-2">Username</label>
                <input type="text" class="border rounded p-2 col-md-12" name="username" />
            </div>

            <div class="row mb-3">
                <label for="password" class="inline-block mb-2">
                    Password
                </label>
                <input type="password" class="border rounded p-2 col-md-12" name="password" />
            </div>

            <div class="row mb-3">
                <button type="submit" class="bg-primary border text-white rounded py-2 px-4">
                    Sign In
                </button>
            </div>

            <div class="row mt-2">
                <p>
                    Don't have an account?
                    <a href="{% url 'register' %}" class="text-primary">Register</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}