{% extends 'devgigs/layout.html' %}
{% load static %}

{% block title %}
DevGis | Manage Listings
{% endblock %}

{% block body %}
<!-- search -->

<div class="d-flex flex-column align-items-center">
    {% if messages %}
<div class="d-flex flex-column align-items-center">
    {% for message in messages %}
    <div class="message mb-4 bg-dark rounded text-white px-2 py-1">
        <h6 class="position-relative mr-3">{{message}}<span style="font-size: 1.5em;top:-5px; right:-20px"
                class="closeMsg">&times;</span></h6>
    </div>
    {% endfor %}
</div>
{% endif %}
    <form style="margin-top: -15px" class="mx-auto col-md-8 justify-content-center" action="/">
        <div class="relative d-flex flex-row border col-md-12 p-1 rounded-pill">
            <div style="margin-left: 7px; margin-top: 2px; z-index: 1;" class="position-absolute pt-1 pl-0">
                <i class="fa fa-search text-secondary z-1"></i>
            </div>
            <input style="margin-left: 30px;" id="search" type="text" name="search"
                class="py-1 col-md-8  outline-0 border border-0 px-2 rounded z-0" placeholder="Search Gigs..." />
            <div style="right: -1px; top: -1px;" class="position-absolute  search-btn">
                <button style="border-top-left-radius: 50%!important; border-bottom-left-radius: 0!important;"
                    type="submit" class="py-2 border border-white  text-white rounded-pill bg-primary ">
                    Search
                </button>
            </div>
        </div>
    </form>
    <!-- Manage -->
    <div class="row mt-4 pt-2 col-md-6 text-center mx-auto">
        <div class="bg-light col-md-12 justify-content-center border border-primary px-3 rounded">
            <header>
                <h1 class="text-center font-bold my-5 uppercase">
                    Manage Gigs
                </h1>
            </header>
            <table class="col-md-12 table-auto rounded-sm">
                <tbody class="text-start">
                    {% if listings %}
                    {% for listing in listings %}
                    <tr class="border-top border-bottom">
                        <span class="listing-id" hidden>{{listing.id}}</span>
                        <td class="px-2 py-2">
                            <a href="{% url 'show' listing.id %}" class="text-capitalize text-start">
                                {{listing.title}}
                            </a>
                        </td>
                        <td class="px-2 py-3 border-top border-bottom">
                            <button class="text-primary border-0 rounded px-3 py-2 edit-btn"><i
                                    class="fa-solid fa-pen-to-square"></i>
                                Edit</button>
                        </td>
                        <td class="px-3">
                            <form action="{% url 'delete' listing.id %}">
                                {% csrf_token %}
                                <button type="submit" class="text-danger btn">
                                    <i class="fa-solid fa-trash-can"></i>
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3" class="py-2 mb-3 text-capitalize text-danger">
                            <h3>no listing yet</h3>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% block script %}
    <script src="{% static 'devgigs/js/editListing.js' %}"></script>
    {% endblock %}
    {% endblock %}