{% extends 'devgigs/layout.html' %}

{% block body %}
<div style="margin-bottom: 100px!important;" class="mx-auto d-flex flex-column justify-content-center">
    <div class="border pt-3 px-5 rounded mx-auto mt-2 mb-0">
        <header class="text-center col-md-12">
            <h2 class="text-lg font-bold text-uppercase mb-1">
                Register
            </h2>
            <p class="mb-3">Create an account to post gigs</p>
        </header>
        {% if message %}
        <p class="text-danger text-sm mt-1">
            {{message}}
        </p>
        {% endif %}
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="name" class="inline-block text-lg mb-2">
                    Name
                </label>
                <input type="text" class="rounded p-2 col-md-12 border" name="username" />
            </div>

            <div class="row mb-3">
                <label for="email" class="inline-block text-lg mb-2">Email</label>
                <input type="email" class="border rounded p-2 col-md-12" name="email" />
                <!-- show error message here -->
            </div>

            <div class="row mb-3">
                <label for="password" class="inline-block text-lg mb-2">
                    Password
                </label>
                <input type="password" class="rounded p-2 border col-md-12" name="password" />
            </div>

            <div class="row mb-3">
                <label for="password2" class="inline-block text-lg mb-2">
                    Confirm Password
                </label>
                <input type="password" class="rounded p-2 col-md-12 border" name="confirmation" />
            </div>

            <div class="row mb-3">
                <button type="submit" class="bg-primary border text-white rounded py-2 px-4">
                    Sign Up
                </button>
            </div>
            <div class="row mt-2">
                <p>
                    Already have an account?
                    <a href="{% url 'login' %}" class="text-primary">Login</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}